<div class='dvBox'>
	<div class='boxTitle'>
		<h4>{$formName|default='页面信息'} <small>{$formInfo|default='暂无说明'}</small></h4>

			<!-- <a class='btn rightAlign' href='{$optUrl|default='javascript:history.back();'}'><i class'glyphicon glyphicon-hand-left'></i>&nbsp;{$optName|default='返回'}</a> -->

	</div>
	<div class='boxContent boxContentTable'>
		<div class='dvNav'>
			<div class='form-inline'>

				<a href='javascript:void(0);' id='submit' class='btn btn-info' data-module='' data-controller='' data-action='receive' data-id='0'>确定</a>
			</div>

			<div class='clear'></div>
		</div>
		<hr class='seporator'/>
		<img id='img' src='{$img}'/>
	</div>
</div>

<input type='hidden' id='module' value='{$Request.module}'>
<input type='hidden' id='controller' value='{$Request.controller}'>

<link rel='stylesheet' type='text/css' href='__STATIC__/css/page.css'/>
<link rel='stylesheet' type='text/css' href='__STATIC__/css/tableStyle.css'/>
<script type='text/javascript'>
	var module=$('#module').val();
	var controller=$('#controller').val();


	$(document).ready(function(){
		waitLogin();
	});

	function waitLogin(){
		var url='/index.php/'+module+'/'+controller+'/waitForLogin';
		$.post(url,{_:(new Date()).valueOf()},function(rst){
			var code=parseInt(rst.code);

			if(code==200){
				console.log('正在登陆......');
				console.log(rst);
				var url='/index.php/'+module+'/'+controller+'/loginRedirect';
				$.post(url,null,function(rst){
					console.log(rst);
					if(rst.status){
						console.log('登陆成功');
					}
					else{
						console.log('登录失败');
					}
				});
			}
			else{
				if(code==201){
					console.log('请点击确定登陆');
					console.log(rst);
				}
				waitLogin();
			}
		});
	}
</script>